/*
 * Syntax tweaks for SCSS
 *
 * NOTE:
 * SCSS relies heavily on CSS selectors, so be mindful of what you inherit here. See `./css.less`
 * for details.
 *
 * The current tokenizer has limitations, e.g.:
 * - CSS properties that match HTML5 tags (e.g. 'font', 'content') are misinterpreted
 * - `prop: value` and  `prop: {key: value}` share a selector for content after the first colon.
 */
.syntax--source.syntax--scss {
  .syntax--import {
    .syntax--punctuation.syntax--keyword {
      color: @lilac;
    }
  }

  .syntax--property-value {
    color: @aqua;
  }

  .syntax--punctuation {
    &.syntax--bracket {
      color: @syntax-text-color;
    }

    &.syntax--key-value {
      color: @syntax-text-color;
    }

    &.section {
      color: @syntax-text-color;
    }

    &.syntax--string {
      color: @green;
    }
  }

  .syntax--variable {
    color: @lilac;
  }
}
